     
.chat-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh); /* Adjust height */
  }
          
          .chat-messages {
            overflow-y: scroll;
            flex-grow: 1;
          }
          
          .chat-message {
            padding: 0.5rem;
            word-wrap: break-word;
            margin-right: 0.5rem;
            border-radius: 10px;
            margin-bottom: 0.5rem;
            max-width: 75%;
          }

          #chatMessageInput {
            margin-right: 5px;
          }
          
          #sendMessageBtn {
            white-space: nowrap;
            margin: 0 !important;
            margin-left: 2px;
          }
          
          .chat-message-header {
            display: flex; /* Aligns children (image and text) in a row */
            align-items: center; /* Aligns children vertically in the center */
          }
          .chat-message-header-image {
            height: 25px;
            width: 25px;
            background-size: cover;
            background-position: center;
            margin-right: 10px; /* Adds some space between the image and the text */
            border-radius: 50%; /* Makes the image round */
          }
          .chat-message-header-name {
            font-size: 13px;
            font-weight: bold;
          }
          
          .chat-message.other {
            background-color: #e5e5e5;
            color: black;
          }
          
          .chat-message.me {
            background-color: #ca7a20;
            color: black;
            margin-left: auto;
          }
          
          .chat-input {
            display: flex; /* Make the input and button inline */
            align-items: center; /* Align the button and input vertically */
            padding: 5px !important;
          }

          #chat-join-a-team-first {
            display: none;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 40%;
          }
          .circle-image {
            width: 100px; /* or any size you want */
            height: 100px; /* should be the same as width to create a circle */
            border-radius: 50%; /* this creates the circle */
            background-size: cover; /* this ensures your image covers the circle */
            background-position: center; /* this ensures your image is centered in the circle */
          }