
.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}

.leaflet-popup-tip {
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
}

.leaflet-popup-content {
    padding-top: 5px;
    margin: 0 !important;
}

/******************************************************************* Map popup */
#map-popup {
    position: sticky;
    left: 12.5%;
    top: 15%;
    width: 300px;
    height: 500px;
    background: rgba(0, 0, 0, 0.021);
    display: block;
    z-index: 9999;
}

#map-popup-container {
    position: absolute;
    padding: 10px;
    width: 300px;
    height: 400px;
    top: 50px;
    display: block;
    z-index: 10000;
}

#map-popup-header {
    display: table;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 270px;
    height: 30px;
    padding:0;
}

.map-popup-header-cell {
    display: table-cell;
}

#map-popup-shop-icon {
    position: absolute;
    left: 0px;
    z-index: 10001;
}
#map-popup-shop-icon img {
    width: 30px;
    height: 30px;
}

#map-popup-title {
    position: absolute;
    width: 200px;
    left: 35px;
    color: rgb(223, 217, 212);
    font-family: RobotoBold;
    font-size: 25px;
    line-height: 25px;
    padding-top: 2px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#map-popup-title-text {
    width: 100%;
}


#map-popup-close-button {
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    justify-content: center;
    right: 0px;
    background: rgb(172, 53, 36);
    color: rgb(251, 168, 154);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    z-index: 10001;
}

#map-popup-close-button:hover {
    background: rgb(201, 63, 41);
}



#map-popup-content-canvas {
    position: absolute;
    top: 35px;
    right: 0px;
    width: calc(100% - 15px);
    height: calc(100% - 35px);
    margin-bottom: 20px;
    padding: 0;
    padding-left: 13px;
    /* Scrollbar */
    direction: rtl; /* Makes the scrollbar appear on the left */
    overflow-y: scroll; /* Ensures the scrollbar is shown */
}
#map-popup-content-canvas::-webkit-scrollbar {
    width: 5px; /* Thin scrollbar */
}

#map-popup-content-canvas::-webkit-scrollbar-track {
    background: rgb(38, 34, 28); /* Track color */
}

#map-popup-content-canvas::-webkit-scrollbar-thumb {
    background: rgb(139, 195, 42); /* Thumb color */
}

#map-popup-content-canvas::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

#map-popup-content-canvas > * {
    direction: ltr; /* Reverse content direction if needed */
}





.popup-shop-header {
    display: table;
    position: relative;
    width: 100%;
    background: rgb(37, 33, 28);
    color: rgb(223, 217, 212);
    font-family: RobotoBold;
    font-size: 12px;
    height: 38px;
    padding: 7px;
}

.popup-shop-header-title {
    display: table-cell;
    position: absolute;
    margin: 0;
    width: 105px;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
}

.popup-shop-header-title-scroll {
    position: absolute;
    display: inline-block;
    left: 0px;
    animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
    0%, 20% { /* Pause for the first 20% of the animation time */
        left: 0;
    }
    95% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

.popup-shop-header-image-row {
    display: table;
    position: absolute;
    width: 125px;
    height: 25px;
    right: 30px;
    top: 5px;
    border-spacing: 5px 0px;
    border-collapse: separate;
}

.popup-shop-header-image-cell {
    display: table-cell;
    position: relative;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(58, 54, 50);
    
    width: 25px;
    height: 25px;
}

.popup-shop-header-chevron-down {
    display: table-cell;
    position: absolute;
    right: 8px;
    margin-top: 8px;
    width: 14px;
    height: 14px;
    background-image: url(../images/chevron-down.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.popup-shop-header-chevron-up {
    display: table-cell;
    position: absolute;
    right: 8px;
    margin-top: 8px;
    width: 14px;
    height: 14px;
    background-image: url(../images/chevron-up.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.popup-shop-header-chevron-down,
.popup-shop-header-chevron-up {
    /* Common styles for both chevrons */
    cursor: pointer;
    /* ...other styles... */
}

.popup-shop-body {
    max-height: 0;
    overflow: hidden;
    position: relative;
    right: 0px;
    width: 267px;
    height: fit-content;
    background: rgb(58, 54, 50);
    transition: max-height 0.03s ease-out; /* Adjust timing as needed */
    /* Other styles for the hidden content */
}

.popup-shop-container {
    margin-bottom: 10px;
}















.shop-body-items {
    position: relative;
    margin: 5px;
}
.shop-body-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background: rgb(58, 53, 49);
    border-spacing: 5px 0px;
    border-collapse: separate;
}

.shop-body-item-cell {
    display: flex;
    width:100%;
    align-items: center; /* Aligns items vertically in the center */
    background: #333; /* Adjust the color to match your item background */
    padding: 10px; /* Add padding as needed */
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px; /* Optional: adds rounded corners */
}


.shop-body-item-image {
    display: table-cell;
    position: relative;

    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}
.shop-body-item-selling-info {
    display: flex;
    flex-direction: column; /* Stacks the text vertically */
    justify-content: center; /* Centers the text vertically */
    color: #ddd; /* Text color, adjust as needed */
    font-family: Arial, sans-serif; /* Your preferred font */
}
.shop-body-item-selling-title {
    color: rgb(113, 112, 110);
    font-family: RobotoBold;
    font-size: 10px;
}
.shop-body-item-selling-amount {
    color: rgb(223, 217, 212);
    font-family: RobotoBold;
    font-size: 14px;
}

.shop-body-item-no-listing-text {
    color: rgb(158, 67, 50);
    font-family: RobotoBold;
    font-size: 14px;
}


.shop-body-cost-image {
    display: table-cell;
    position: relative;

    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}
.shop-body-cost-info {
    display: flex;
    flex-direction: column; /* Stacks the text vertically */
    justify-content: center; /* Centers the text vertically */
    color: #ddd; /* Text color, adjust as needed */
    font-family: Arial, sans-serif; /* Your preferred font */
}
.shop-body-item-selling-title {
    color: rgb(113, 112, 110);
    font-family: RobotoBold;
    font-size: 10px;
}
.shop-body-item-selling-amount {
    color: rgb(223, 217, 212);
    font-family: RobotoBold;
    font-size: 14px;
}



.shop-body-in-stock {
    position: relative;
    right: 0px;
    white-space: nowrap;
    color: rgb(223, 217, 212);
    font-family: RobotoBold;
    font-size: 11px;
}

.shop-body-no-stock {
    position: relative;
    right: 0px;
    white-space: nowrap;
    color: rgb(158, 67, 50);
    font-family: RobotoBold;
    font-size: 11px;
}











/******************************************************************* Hover */
.leaflet-tooltip {
    background-color: #1b679c;
    color: #d7d7d6;
    font-family: RobotoBold;
    font-size: 10px;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    margin: none;
}

.rust-image-tooltip {
    visibility: hidden;
  
    background-color: #1b679c;
    color: #d7d7d6;
    font-family: RobotoBold;
    font-size: 10px;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    margin: none;
    white-space: nowrap;
    justify-content: center;
    text-align: center;
    
  /* Position the tooltip */
  position: absolute;
  top: -14px;
  
}
.shop-body-cost-image:hover .rust-image-tooltip,
.shop-body-item-image:hover .rust-image-tooltip,
.popup-shop-header-image-cell:hover .rust-image-tooltip {
    visibility: visible;
}


/******************************************************************* Generic */
.generic-map-popup .leaflet-popup-content-wrapper {
    position: absolute;
    width: 160px;
    height: 50px;
    z-index: 999;
    
    /* From https://css.glass */
    background: rgba(50, 47, 47, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    color: #cccbcb;
    font-family: RobotoBold;
    cursor: pointer;
}


.generic-popup-info-container {
    background: rgba(20, 21, 18, 0.8);
    width: 160px;
    height: 50px;
    margin-top: 2px;
}

.generic-popup-info-table {
    padding: 2px;
    background: rgba(20, 23, 22, 0.4);
    width: 160px;
    height: 50px;
    top: 1px;
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
}
  
.generic-popup-info-table table {
    width: 100%;
}
  
.generic-popup-info-table th.note-name {
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
}
  
.generic-popup-info-table th.note-name input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-left: auto;
    display: block;
}




/******************************************************************* Shop */
.shop-map-popup .leaflet-popup-content-wrapper {
    background: #e93434;
    color: #ffffff;
    border-radius: 0px;
}



/******************************************************************* Clustered Shop */


.clustered-shop-map-popup .leaflet-popup-content-wrapper {
    border-radius: 0px;
    display: block !important;
    position: absolute !important;
    width: 200px;
    height: 500px;
    top: 10px !important;
    left: 10px !important;
}

.clustered-shop-map-popup {
    background: #e93434;
    color: #ffffff;
    border-radius: 0px;
    width: fit-content;
}

/* Misc */


@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/RobotoCondensed-Regular.ttf")
}

@font-face {
    font-family: RobotoBold;
    src: url("../fonts/RobotoCondensed-Bold.ttf")
}