/* Custom Styles */
.logo {
  background: #333;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

#map-image {
    max-width: 100%; /* Ensure the image is not wider than the container */
    max-height: 100%; /* Ensure the image is not taller than the container */
    object-fit: contain; /* Show the full image without clipping */
    position: absolute;
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%); /* Adjust position to center */
}

.map-container {
  background-color: #ffffff; /*#0b3a4a;*/
  width: 100%; /* Adjust as necessary */
  height: 100vh; /* Adjust as necessary */
  overflow: hidden;
  position: relative;
}

.map-container img {
  height: 100%; /* Make the map image take full height of its container */
  width: 100%; /* Adjust width automatically */
  min-width: 100%; /* Ensure it covers the container width */
  object-fit: cover; /* This will cover the area, potentially clipping the image */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Center the image */
  /* Add styles for zoom and pan functionality */
}

.bg-dark,
.bg-light {
  z-index: 10; /* Make sure this number is higher than the z-index of the map image */
  position: relative; /* Required for z-index to take effect */
}

.server_info {
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.players {
  border-top: 1px solid #ccc;
}

.players p {
  background: #f8f9fa;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.chat-area {
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 200px); /* Adjust height accordingly */
}

.chat-messages {
  overflow-y: auto;
}

.chat-message {
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  max-width: 75%;
}

.chat-message.other {
  background-color: #e5e5e5;
}

.chat-message.me {
  background-color: #dcf8c6;
  margin-left: auto;
}

.chat-input {
  border-top: 1px solid #ccc;
}

.panzoom {
  width: 100%;
  height: 100vh; /* Adjust as necessary */
  overflow: hidden;
  position: relative;
}

.panzoom img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

/* Add to your existing CSS file */
.command-btn {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.command-btn:hover {
  background-color: #666;
  cursor: pointer;
}

.command-btn.active {
  background-color: #28a745; /* Green */
}

.command-btn.inactive {
  background-color: #dc3545; /* Red */
}

.overlay {
  position: absolute;
  width: 11px; /*50px; /* Base width */
  height: 11px; /*50px; /* Base height */
  background-size: cover;
  display: block; /* Initially visible */
}
