.rust-emoji-image {
    display:inline-block;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    top: 4px; /* This could cause some issues */
}

.team-info-wrapper {
    order: 3; 
    margin-top: auto;
    margin-bottom: 30px;
    max-height: 200px;
}

.team-info {
    order: 3; /* CHANGE THIS WHEN ADDING MORE ROWS */
    margin-top: auto;
    max-height: 200px;
}

.team-info-header {
    padding-bottom: 5px;
    padding-left: 5px;
    color: rgb(253, 146, 24);
    font-family: RobotoBold;
}

.team-info {
    overflow-y: scroll;
    overflow-x: hidden;
}

.team-info::-webkit-scrollbar {
    width: 7px;
}
.team-info::-webkit-scrollbar-track {
    background : rgb(52, 58, 64);
    border-radius: 7px;
}
.team-info::-webkit-scrollbar-thumb {
    background : rgb(253, 144, 18);
    border-radius: 7px;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);
}



.team-info-player {
    display: flex;            /* Flex container */
    align-items: center;      /* Center items vertically */
    height: 40px;
    margin: 2px 3px 5px;
    background-color: #1f1f1f;
    border-radius: 5px;
    padding: 0 10px;          /* Padding on the sides of the container */
    justify-content: space-between; /* This will put space between the main elements */
}


.team-info-col {
    display: flex;
    align-items: center;
    flex: 1; /* Allows each .team-info-col to expand and use available space */
}

.team-info-player-name {
    font-family: RobotoBold;
    font-size: 12px;
    white-space: nowrap; /* Prevents the name from wrapping */
}

.team-info-player-crown {
    position:relative;
    left: 4px;
    width: 12px;
    height: 12px;
    background-image: url(../images/icons/crown-24.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%; /* circular */ 
}

.team-info-player .team-info-col:first-child {
    flex-grow: 0; /* Prevents the image container from growing */
    margin-right: 8px; /* Adjust this value to put the name right next to the image */
}


.team-info-player-image {
    position: relative;
    padding: 0;
    left: 3px;
    width: 30px;
    height: 30px;
    background-image: url(../images/steam_pics/76561198032291162.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%; /* circular */
}

.team-info-player-image-darken {
    filter: brightness(50%); /* darken the player image */

}

.team-info-player-image-strikethrough {
    position: absolute;
    top: 0;
    left: 3px;
    width: 125%;
    height: 100%;
    background: transparent;
    border-top: 2px solid red;
    transform: rotate(45deg);
    transform-origin: 0 0;
}

.team-info-player-button-group {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    flex-grow: 1; /* Allows the button group to expand and use available space */
}

.team-info-player-button {
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 5px;
    margin: 0 2px;
    cursor: pointer;
    font-family: RobotoBold;
    font-size: 13px;
    outline: none;
    transition: background-color 0.3s;
}

.team-info-player-button:hover {
    background-color: #555;
}


.team-info-button-wrench {
    background-image: url(../images/icons/wrench-24.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.team-info-button-accuracy {
    background-image: url(../images/icons/accuracy-24.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.team-info-button-map-notes-shown {
    background-image: url(../images/icons/map-note-shown-24.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.team-info-button-map-notes-hidden {
    background-image: url(../images/icons/map-notes-hidden-24.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

/********************************************************************** Devices */
.device-info-wrapper {
    order: 2; 
    margin-top: auto;
    margin-bottom: 30px;
    max-height: 300px;
}

.device-info {
    order: 2;
    margin-top: auto;
    max-height: 200px;
}

.device-info {
    overflow-y: scroll;
    overflow-x: hidden;
}

.device-info::-webkit-scrollbar {
    width: 7px;
}
.device-info::-webkit-scrollbar-track {
    background : rgb(52, 58, 64);
    border-radius: 7px;
}
.device-info::-webkit-scrollbar-thumb {
    background : rgb(253, 144, 18);
    border-radius: 7px;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);
}

.device-info-entry {
    display: flex;            /* Flex container */
    align-items: center;      /* Center items vertically */
    height: 40px;
    margin: 2px 3px 5px;
    background-color: #1f1f1f;
    border-radius: 5px;
    padding: 0 10px;          /* Padding on the sides of the container */
    justify-content: space-between; /* This will put space between the main elements */
}

.device-info-entry .device-info-col:first-child {
    flex-grow: 0; /* Prevents the image container from growing */
    margin-right: 8px; /* Adjust this value to put the name right next to the image */
}

.device-info-col {
    display: flex;
    align-items: center;
    flex: 1;
}


.device-info-name {
        font-family: RobotoBold;
        font-size: 14px;
        white-space: nowrap;
        margin-left: auto;
        margin-right: 20px;
}


/* The switch - the box around the slider */
.device-info-switch {
    position: relative;
    display: inline-block;
    width: 44px; /* Width of the outer box */
    height: 24px; /* Height of the outer box */
    margin-bottom: 0px;
  }
  
  /* Hide default HTML checkbox */
  .device-info-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .device-info-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Off state color */
    transition: .4s;
    border-radius: 0; /* Makes the toggle square */
  }
  
  .device-info-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 0; /* Keeps the inside slider square */
  }
  
  input:checked + .device-info-slider {
    background-color: #28a745; /* On state color */
  }
  
  input:focus + .device-info-slider {
    box-shadow: 0 0 1px #28a745;
  }
  
  input:checked + .device-info-slider:before {
    transform: translateX(22px); /* Slide effect */
  }
  
  /* Rounded sliders */
  .device-info-slider.round {
    border-radius: 0px; /* Remove this if you prefer the slider to be square */
  }
  
  .device-info-slider.round:before {
    border-radius: 0%; /* Keeps the inside slider square */
  }
  
 
  .device-info-edit-name {
    height: 30px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #ccc;
    color: white; /* Adjust color based on your design */
    background: transparent;
    outline: none;
    display: inline-block;
    width: 90%; /* Adjust width as necessary */
}

@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/RobotoCondensed-Regular.ttf")
}

@font-face {
    font-family: RobotoBold;
    src: url("../fonts/RobotoCondensed-Bold.ttf")
}